<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashal.debug.encrypt">
    
    <application>
        <provider
            android:authorities="${applicationId}.DebugDBEncryptInitProvider"
            android:name="com.ashal.debug.encrypt.DebugDBEncryptInitProvider"
            android:exported="false"
            android:enabled="true"/>
    </application>

</manifest>